
- if session[:access_token]   
    %a{:href => "/logout"} Logout 
- else
    %a{:href => "/connect"} Connect with Instagram 

- unless session[:access_token].blank?
    %h2= "Welcome " + @username.titleize 

    - @recent_photos.each do |media|
        %img{:src => "#{media.images.thumbnail.url}"}
